footer{
    text-align: center;

    div{
        display: flex;
        justify-content: center;
        background-color: $color-footer;
        img{
            width: 30px;
            height: 30px;
            margin: 20px 10px 10px 10px;
            transition-duration: 1.5s;
            transition-timing-function: ease-in;
            &:hover{
                transform: scale(1.5);
            }
        }
    }

    p{
        font-family: 'Slabo 27px', serif;
        font-size: 18px;
        font-style: normal;
        color: black;
        background-color: $color-footer;
        transition-duration: 1s;
        transition-timing-function: ease-out;
        margin: 0;
        padding-bottom: 0;
        &:hover{
            color: white;
            background-color:$color-principal; 
        }
    }
}


